<a href="https://colab.research.google.com/github/nikiopta/school-computer/blob/main/TimiGayAF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

lesson 1:

In [ ]:
#q 1
t = 0
for i in range (1,6):
   t += 1
   print(t, end = ' ')

1 2 3 4 5

In [ ]:
#q 2
n= int(input("n = ?"))
for k in range(n+1):
  print(k, k**2)

n = ?5
0 0
1 1
2 4
3 9
4 16
5 25

In [ ]:
#q 3

n = int(input(' n = ?'))
while n != 0:
  print ("*" * n)
  n -= 1

 n = ?5
*****
****
***
**
*

In [ ]:
#q 4
n = int(input(' n = ?'))
for i in range(1, 11):
  print (n ,"X", i, end =  " = ")
  print(n * i)

 n = ?5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
#q 5
n = int(input(' n = ?'))
prod = 1
for i in range(1, n+1):
  prod *= i
print("The factorial is", prod)

 n = ?5
The factorial is 120

leson 2:

In [ ]:
#q 1
import time
def i_want_to_kill_my_self(n):
  f1 = 1
  f2 = 1
  for i in range (n):
      print (f1, end= ' ')
      f1, f2 = f2, f1 + f2
n = input("n = ")
while not n.isdigit():
  print("it need to be a int")
  n = input("n = ")
else:
  n = int(n)
  i_want_to_kill_my_self(n)

n = 5
1 1 2 3 5

In [ ]:
#q 2
n = int(input("n = "))
p = 1
for i in range(1, n + 1):
  p *= i
print(p)

n = 5
120

In [ ]:
#q 4
n = int(input("n = "))
res = 0
for i in range(1 ,n+1):
  if i % 2 == 0:
    res -= i
  else:
    res += i
print(res)

n = 5
3

In [ ]:
#q 3
n = int(input("n = "))
res = 0
for i in range(1 ,n+1):
    if n % i == 0:
      res += i
print(res)

n = 5
6

lesoon 3:

In [ ]:
#q 1